nav {
  min-height: 80px;
}

nav, h1 {
  text-align: center;
  padding: 0 1px;
  font-family: impact;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  background-color: white;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

/*header {
  position: fixed;
  left: 50%;
  top: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
}*/
.image {
  position: relative;
  float: left;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.container {
  float: right;
}